@import '../../../../../asset/css/variables';

.content-carousel-blue{
    background-color: #A0D5ED;
}

.btn-carousel-left{
    background-color: #E9F2F6;
    color:$primaryColor;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.btn-carousel-right{
    background-color: #E9F2F6;
    color:$primaryColor;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
.btn-carousel-middle{
    border-left: 1px solid $primaryColor;
    border-right: 1px solid $primaryColor;
    background-color: #E9F2F6;
    color:$primaryColor;
    border: none;
    border-left: 1px solid $primaryColor;
    border-right: 1px solid $primaryColor;
}
.btn-carousel-active{
    color:white;
    background-color: $primaryColor;
}



@media screen and (min-width: 300px) and (max-width:1023px){
    .content-carousel-mobile{
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }
    .card-content-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .img-box{
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    .slick-controls{
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .slick-dots {
            display: flex !important;
            justify-content: center;
            bottom: 0px !important;
        }
    
    li.slick-active div {
        background-color: #F4C14F !important;
    }

    .title {
        text-align: center;
    }
}

@media screen and (min-width:1024px){
.content-carousel {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  
    .slick-controls {
      position: absolute;
      z-index: 1;
      top: 30%;
      left: 5%;
    }
  
    .content-carousel-card {
      .card-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            width: calc(100% - 2px);
            height: calc(100% - 200px);
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            background-color: white;
        }
  
        .text-box {
          padding-right: 50px;
          z-index: 10;
        }
        .img-box{
            z-index: 100;
        }
      }
    }
    
    .slick-dots {
        display: flex !important;
        justify-content: center;
        bottom: 27% !important;
    }
    
    li.slick-active div {
        background-color: #F4C14F !important;
    }

    /* Arrows */
    .slick-prev{
        color: black !important;
        left: 18px;
        z-index: 100;
    }
    .slick-next
    {
        color: black !important;
        right: 285px !important;
    }
    .slick-prev:before,
    .slick-next:before
    {
        color: black !important;
        z-index: 100 !important;
    }

    [dir='rtl'] .slick-prev
    {
        right: -25px;
        left: auto;
    }
    .slick-prev:before
    {
        content: '←';
    }
    [dir='rtl'] .slick-prev:before
    {
        content: '→';
    }

    .slick-next
    {
        right: -25px;
    }
    [dir='rtl'] .slick-next
    {
        right: auto;
        left: -25px;
    }
    .slick-next:before
    {
        content: '→';
    }
    [dir='rtl'] .slick-next:before
    {
        content: '←';
    }
  }
}