.privacy-content{
    h1{
        border-bottom: 2px solid rgba(167, 179, 222, 0.35);
    }
}
@media screen and (max-width:727px) {
    .privacy-content{
       p.f-25{
        font-size: 14px;
       }
    }
}

@media screen and (max-width:1024px) {
    .privacy-content{
       p.f-25{
        font-size: 18px;
       }
    }
}
