@import '../../../../asset/css/variables';

.faq {
    box-shadow: 0px 4px 4px rgba(40, 124, 161, 0.5),
    inset 0px 4px 4px rgba(40, 124, 161, 0.5);
    border-radius: 50px;
    padding: 30px 80px 50px 80px;
    // height: 1129px;
    width: auto;
    margin: 80px 80px 120px;
    
    .accordion-header {
        .accordion-button {
            font-size: 20px;
            background-color: white;

            &:focus[aria-expanded="true"] {
                color: $primaryColor;
            }

            &:focus {
                box-shadow: none;
            }
        }
        .accordion-button:hover {
            color: $primaryColor;
        }
        &:hover .accordion-button::after {
            // background-image: linear-gradient(yellow, orange),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            // background-blend-mode: color;
        }
    }
}


// styling for responsive
@media (max-width: 767px) {
    .faq {
        padding: 25px 30px;
        // height: 1129px;
        width: auto;
        margin: 40px 0px 70px;

        .faq-header {
            font-size: 20px;
        }

        .accordion-header {
            .accordion-button {
                font-size: 16px;
            }
        }

        .accordion-body {
            font-size: 13px;
            padding-top: 0px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .faq {
        padding: 30px 45px;
        // height: 1129px;
        width: auto;
        margin: 40px 30px 70px;

        .faq-header {
            font-size: 25px;
        }

        .accordion-header {
            .accordion-button {
                font-size: 17px;
            }
        }

        .accordion-body {
            font-size: 17px;
            padding-top: 0px;
        }
    }
}