@import "../../../../asset/css/variables";

// styling for contact box
.contact-box {
    margin: 50px;

    .contact-title-box {
        background-color: $primaryColor;
        color: white;
        padding-top: 40px;
        padding-bottom: 60px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        .contact-title-box-desc {
            max-width: 470px;
            margin: 0 auto;
        }
    }

    .contact-form-box {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 65px 95px;
        position: relative;
        top: -20px;
        margin-left: 3px;
        margin-right: 3px;

        .form-control {
            height: 52px;
            border: 1px solid #C4C4C4;

            &::placeholder {
                color: #C4C4C4;
                font-size: 18px;
            }

            &:focus {
                box-shadow: none;
            }

            &:hover {
                border: 1px solid $primaryColor;
            }
        }

        .invalid {
            border: 1px solid #E15E54;
        }

        .text-danger {
            color: #E15E54 !important;
        }

        .message-btn {
            width: 266px;
            height: 60px;
            border-radius: 50px;
            background-color: $primaryColor;
            color: white;
            border: none;
            font-size: 20px;
            font-weight: 700;
            position: relative;
            right: 0;

            &:hover {
                color: $primaryColor;
                background-color: white;
                border: 2px solid $primaryColor;
            }
        }
    }
}

// styling for hell center box
.help-center-box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin: 50px;

    .help-center-desc {
        max-width: 350px;
    }
}


// styling for responsive
@media (max-width: 426px) {
    .help-title {
        .help-title-header {
            font-size: 16px;
        }

        .help-title-desc {
            font-size: 13px;
            font-weight: 400;
        }
    }

    .contact-box {
        margin: 20px;

        .contact-title-box {
            padding: 20px;

            .contact-title-box-header {
                font-size: 16px;
            }
            .contact-title-box-desc {
                font-size: 13px;
            }
        }

        .contact-form-box {
            padding: 40px 30px;

            .form-label {
                font-size: 16px;
            }

            .form-control {
                height: 45px;
            }

            .message-btn-box {
                padding: 0px;
                display: flex;
                justify-content: center;

                .message-btn-box-left {
                    padding-bottom: 20px;
                }

                .message-btn-box-right {
                    display: flex !important;
                    justify-content: center !important;

                    .message-btn {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .help-center-box {
        margin: 20px 20px 60px;

        .help-center-title {
            padding-bottom: 20px;
            
            .help-center-icon {
                padding: 0px 0px 0px 40px;

                img {
                    width: 60px;
                }
            }
            .help-center-desc {
                max-width: 100%;
                padding: 0px 30px 0px 35px;
            }
        }
    }
}

@media (min-width: 427px) and (max-width: 767px) {
    .help-title {
        .help-title-header {
            font-size: 20px;
        }
        .help-title-desc {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .contact-box {
        margin: 20px;

        .contact-title-box {
            padding: 20px;

            .contact-title-box-header {
                font-size: 20px;
            }

            .contact-title-box-desc {
                font-size: 16px;
            }
        }

        .contact-form-box {
            padding: 40px 30px;

            .form-control {
                margin-bottom: 10px;
            }

            .message-btn-box {
                display: flex !important;
                justify-content: center !important;
            }
        }
    }

    .help-center-box {
        margin: 20px 20px 60px;

        .help-center-title {
            padding-bottom: 10px;

            .help-center-icon {
                padding: 0px 0px 0px 45px;

                img {
                    width: 70px;
                }
            }

            .help-center-desc {
                max-width: 100%;
                padding: 0px 30px 0px 35px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .help-title {
        .help-title-header {
            font-size: 25px;
        }

        .help-title-desc {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .contact-box {
        .contact-form-box {
            padding: 65px 60px;

            .form-control {
                margin-bottom: 10px;
            }

            .message-btn-box {
                display: flex !important;
                justify-content: center !important;
            }
        }
    }
}