@import "../../../../asset/css/variables";

.content{
    color:rgb(0, 0, 0);
    img{
        max-width: 80%;
        height: auto;
    }
}

.content-jalin{
    color:rgb(0, 0, 0);
    img{
        max-width: 10%;
        height: auto;
    }
}

.content-bgcolor-blue{
    background-color: $primaryColor;
    color :white;
}

.content-bgcolor-yellow{
    background-color: #FFE3AA;
    color :rgb(0, 0, 0);
}

.content-bgcolor-lightblue{
    background-color: #A0D5ED;
    color :rgb(0, 0, 0);
}
.content-bgcolor-whiteblue{
    background-color: #E9F2F6;
    color :rgb(0, 0, 0);
}

.content-jalin-bgcolor-lightblue{
    background-color: #A0D5ED;
    color :rgb(0, 0, 0);
}

.content-yellow{
    color:$secondaryColor;
}
.content-blue{
    color:#a0d5ed;
}
.content-btn {
    color: white;
    text-decoration: none;
    border: 1px solid $secondaryColor;
    background-color: $secondaryColor;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
.content-btn:hover {
    color: white;
    border: 1px solid #eea300 !important;
    background-color: #eea300!important;
}
.get-jalin-btn{
    color:white;
    text-decoration: none;
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.get-jalin-btn:hover{
        color: $primaryColor !important;
        border: 2px solid $primaryColor !important;
        background-color: white !important;
}

.content-btn-blue{
    color:white;
    text-decoration: none;
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.content-btn-blue:hover{
    color:white;
    border: 1px solid #10729c;
    background-color: #10729c;
}

.kotak{
    background-color: $primaryColor;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-blue{
    color:$primaryColor;
}

.container-box {
    position: relative;
    overflow: hidden;
    padding-bottom: 7rem !important;
}

.box-1 {
    width: 11.875rem;
    height: 11.875rem;
    background-color: #287CA1;
    transform: rotate(50deg);
    position: absolute;
    top: 0rem;
    left: -9rem;
}

.box-2 {
    width: 18.75rem;
    height: 18.75rem;
    background-color: #287CA1;
    transform: rotate(50deg);
    position: absolute;
    top: 3rem;
    right: -12rem;
}

.content-mobile{
    display: none;
}


@media screen and (min-width:300px) and (max-width:767px)  {
    div.container-box {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem !important;
    
    .box-1 {
        width: 5rem;
        height: 5rem;
        background-color: #287CA1;
        transform: rotate(50deg);
        position: absolute;
        top: 1rem;
        left: -3rem;
        }
    
    .box-2 {
        width: 6rem;
        height: 6rem;
        background-color: #287CA1;
        transform: rotate(50deg);
        position: absolute;
        top: 17rem;
        right: -3.5rem;
        }
    }
    .content{
        h2{
            font-size: 22px;
            text-align: center;
        }
        p{
            font-size: 15px;
            text-align: center;
        }

    }

    .content-jalin{
        color:rgb(0, 0, 0);
        img{
                max-width: 30%;
                height: auto;
                
            }
    }

    .content-text-mobile{
        display: block;
        text-align: center;
        .content-btn-blue{
            color:white;
            text-decoration: none;
            border: 1px solid $primaryColor;
            background-color: $primaryColor;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
        }
        
    }
    .content-div{
        .content-btn{
            color:white;
            text-decoration: none;
            border: 1px solid $secondaryColor;
            background-color: $secondaryColor;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
        }
        .content-btn-blue{
            color:white;
            text-decoration: none;
            border: 1px solid $primaryColor;
            background-color: $primaryColor;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
        }
    }
    .mt-2{
        .content-btn{
            color:white;
            text-decoration: none;
            border: 1px solid $secondaryColor;
            background-color: $secondaryColor;
            border-radius: 10px;
            font-size: 22px;
            text-align: center;
        }
    }
    
    .content-web{
        display: none;
        justify-content: center;
    }
    .content-mobile{
        display: flex;
        justify-content: center;
    }

    .content-image-position{
        position: absolute;
        right:15px;
        top:5px;

        .content-image{
            max-width: 200%;
            width:200%;
        }
    }
    .content-text-getjalin{
        .content-text-align{
            text-align: justify;
        }
    }
    
}

@media screen and (min-width:768px) and (max-width:1023px){
    div.container-box {
        position: relative;
        overflow: hidden;
        padding-bottom: 1rem !important;
    }    
    .box-1 {
        width: 11.875rem;
        height: 11.875rem;
        background-color: #287CA1;
        transform: rotate(50deg);
        position: absolute;
        top: 0rem;
        left: -9rem;
    }
    .container-box{
        .box-2 {
            width: 18.75rem;
            height: 18.75rem;
            background-color: #287CA1;
            transform: rotate(50deg);
            position: absolute;
            top: 3rem;
            right: -17rem;
        }
    }
    .content-web{
        display: none;
        justify-content: center;
    }
    .content-mobile{
        display: flex;
        justify-content: center;
    }
    .content-image-position{
        position: absolute;
        right:15px;
        top:46px;

        .content-image{
            max-width: 77%;
        }
    }
}