.modal-open {
    padding-right: 0px !important;
    // modal-dialog bisa diganti dengan modal-xl tpi saran, jgan langsung ganti yg ini, buat class custom
    .modal-xl-custom {
        max-width: 1400px;

        .modal-content {
            .modal-header {
                .modal-title {
                    .modal-header-row {
                        .modal-header-left-side {
                            padding: 48px 36px 48px 80px;

                            p {
                                font-size: 16px;
                            }
                        }

                        .modal-header-right-side {
                            // position: relative;
                            // right: -90px;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.qrcode-image{
    width: 50%;
} 
// styling for responsive

@media (max-width: 767px) {
    .modal-title {
        .modal-header-row {
            display: flex;
            flex-direction: column-reverse;

            .modal-header-left-side {
                padding: 20px 40px 50px 40px !important;

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px !important;
                    margin-bottom: 20px !important;
                }

                img {
                    width: 60%;
                    display: flex;
                    margin: auto;
                }
            }

            .modal-header-right-side {
                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-xl-custom {
        max-width: 700px !important;

        .modal-header-row {
            display: flex;
            flex-direction: column-reverse;

            .modal-header-left-side {
                padding: 40px 80px !important;
                text-align: center;

                img {
                    width: 40%;
                    display: flex;
                    margin: auto;
                }
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-xl-custom {
        max-width: 950px !important;

        .modal-title {
            overflow: hidden;

            .modal-header-left-side {
                padding: 40px 15px 40px 60px !important;

                img {
                    width: 40%;
                    padding: 0px !important;
                }

                p {
                    margin-bottom: 30px !important;
                }
            }

            .modal-header-right-side {
                padding-left: 0px;
                position: relative;
                right: -55px;

                img {
                    width: auto;
                    height: 100% !important;
                }
            }
        }
    }
}


@media (min-width: 1200px) and (max-width: 1433px) {
    .modal-xl-custom {
        max-width: 1100px !important;

        .modal-title {
            overflow: hidden;

            .modal-header-row {
                .modal-header-left-side {
                    padding: 48px 36px 48px 80px;

                    p {
                        font-size: 16px;
                    }
                }

                .modal-header-right-side {
                    padding-left: 0px;
                    position: relative;
                    right: -70px;

                    img {
                        width: auto;
                        height: 100% !important;
                    }
                }
            }
        }
    }
}


@media (min-width: 1434px) {
    .modal-title {
        overflow: hidden;

        .modal-header-right-side {
            position: relative;
            right: -90px;
        }
    }
}