@import "../../../../../asset/css/variables";

.card-content {
    max-height: 100%;
    min-height: 100%;
}

.content-image2 {
    display: none;
}

.text-blue{
    color:$primaryColor;
}

.learn-title{
    letter-spacing: 0px;
}

.content-image2 {
    display: none;
}

//switch button

.switch-learn {
    font-size: 25px;
    .switch-learn-item {
        border-bottom: 2px solid #AAAAAA;
        color: #AAAAAA;
        text-decoration: none;
        }
    .switch-learn-item:hover {
        border-bottom: 2px solid $primaryColor;
        color: $primaryColor;
    }
    .switch-learn-item-active {
        border-bottom: 4px solid #0D70B2;
        color: #0D70B2;
        }
    }    
    .learn-web{
        display:block;
    }

    .learn-mobile{
        display:none;
    }
//responsive

@media (max-width: 1023px) {

    .switch-learn {
        .f-25{
            font-size: 20px;
        }
        .switch-learn-item {
            border-bottom: 2px solid #AAAAAA;
            color: #AAAAAA;
            text-decoration: none;
        }
    
        .switch-learn-item-active {
            border-bottom: 4px solid #0D70B2;
            color: #0D70B2;
        }
    }    

    .learn-text {
        padding-top: 0!important;
        margin-top: 0!important;
        padding-bottom: 0!important;
    }

    .learn-title {
        text-align: center;
    }

    .learn-content {
        text-align: center;
    }
    
    .content-image1 {
        display: none;
    }
    
    .content-image2 {
        display: flex;
    }

    .learn-web{
        display: none;
    }
    .learn-mobile{
        display:block;
    }
}    

@media (max-width: 988.98px) {
    .learn-web{
        display: none;
    }
    .learn-mobile{
        display:block;
    }
}
