@import '../../../../asset/css/variables';

.promo-carousel{
    .btn-carousel-left,
    .btn-carousel-right,
    .btn-carousel-middle{
        background-color: #E9F2F6;
        color:$primaryColor;
        border: none;
    }
    .btn-carousel-left{
        border-radius: 5px 0px 0px 5px;
    }
    .btn-carousel-right{
        border-radius: 0px 5px 5px 0px;
    }
    .btn-carousel-middle{
        border-left: 1px solid $primaryColor;
        border-right: 1px solid $primaryColor;
    }
    .btn-carousel-active{
        color:white;
        background-color: $primaryColor;
    }

    .slick-dots {
        display: flex !important;
        justify-content: center;
        bottom:4%;
    }
        
    li.slick-active {
        width: 50px;
    }
    
    li.slick-active div {
        background-color: #F4C14F !important;
        width: 50px !important;
    }
    
    /* Arrows */
    .slick-prev,
    .slick-next
    {
        color: black !important;
    }
    .slick-prev:before,
    .slick-next:before
    {
        color: black !important;
    }

    [dir='rtl'] .slick-prev
    {
        right: -25px;
        left: auto;
    }
    .slick-prev:before
    {
        content: '←';
    }
    [dir='rtl'] .slick-prev:before
    {
        content: '→';
    }

    .slick-next
    {
        right: -25px;
    }
    [dir='rtl'] .slick-next
    {
        right: auto;
        left: -25px;
    }
    .slick-next:before
    {
        content: '→';
    }
    [dir='rtl'] .slick-next:before
    {
        content: '←';
    }
    .carousel-content{
        position:relative;
        img{
            z-index:-1;
        }
        overflow:hidden;
    }

    .trapezium{
        left: 0px;
        top:0px;
        position: absolute;
        width: 0px;
        height: auto;
        border-right: 65vw solid transparent;
    }
    .trapezium-text{
        position: absolute;
        left: 5vw;
        top: 10vw;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }

        .btn-learnmore-secondary,
        .btn-learnmore-primary
        {
            border-radius: 10px;
            font-weight: 500;
            text-decoration: none;
            font-size: 30px;
        }
        .btn-learnmore-secondary{
            border: 1px solid $secondaryColor ;
            background-color: $secondaryColor !important;
        }
        .btn-learnmore-secondary:hover {
            border: 1px solid #e7ab29;
            background-color: #e7ab29 !important;
        }
        .btn-learnmore-primary{
            border: 1px solid $primaryColor ;
            background-color: $primaryColor;
        }
        .btn-learnmore-primary:hover{
            border: 1px solid #10729c;;
            background-color: #10729c;
        }
    }
    .trapezium-blue{
        border-top: 80vw solid rgba(40, 124, 161, 0.5) ;
    }
    .trapezium-yellow{
        border-top: 80vw solid rgba(244, 193, 79, 0.5);
    }
    .content-text-white{
        color:white;
    }
    .content-text-black{
        color:black;
    }
}
.trapezium-content-mobile{
    display: none;
}


@media screen and (max-width:424px){
    .carousel-content{
        .trapezium-text{
            left: 5vw;
            top: 5vw;
            h1{
                font-size: 14px;
            }
            p{
                font-size: 10px;
            }

            .btn-learnmore-secondary,
            .btn-learnmore-primary{
                border-radius: 6px;
                font-size: 10px;
            }
            .trapezium-content-web{
                display: none;
            }
            .trapezium-content-mobile{
                display: block;
            }
        }
    }
}

@media screen and (min-width:425px) and (max-width:767px){
    .carousel-content{
        .trapezium-text{
            left: 5vw;
            top: 5vw;
            h1{
                font-size: 18px;
            }
            p{
                font-size: 14px;
            }

            .btn-learnmore-secondary,
            .btn-learnmore-primary{
                border-radius: 7px;
                font-size: 14px;
            }
            .trapezium-content-web{
                display: none;
            }
            .trapezium-content-mobile{
                display: block;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .carousel-content{
        .trapezium-text{
            h1{
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }

            .btn-learnmore-secondary,
            .btn-learnmore-primary{
                border-radius: 8px;
                font-size: 20px;
            }
            .trapezium-content-web{
                display: none;
            }
            .trapezium-content-mobile{
                display: block;
            }
        }
    }
}

@media screen and (min-width:1024px) and (max-width:1439px){
    .promo-carousel{
        .trapezium-text{
            h1{
                font-size: 26px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}