@import '../../../../asset/css/variables';

.nav-border-bottom{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;

    .logo_jalin_top:hover {
        border-bottom: 3px solid $primaryColor !important;
        border-bottom-width: 10% !important;
        padding-bottom: 16px;
        margin-bottom: -19px;
        
    }

    a{
        color:#666666;
        text-decoration: none;
    }
    a:hover{
        color: $primaryColor;
    }
    .nav-btn {
        border: 1px solid $primaryColor ;
        border-radius: 10px;
        color: $primaryColor !important;
        font-weight: 500;
        text-decoration: none;
        color: white !important;
        background-color:  $primaryColor !important;
    }
    .nav-btn:hover{
        color: $primaryColor!important;
        border: 1px solid $primaryColor !important;
        background-color: white !important;
    }
    .topnavbar-active{
        color: $primaryColor;
    }
    
}    

@media screen and (max-width: 1024px) {
    .nav-border-bottom{
        a{
            color:#666666;
            text-decoration: none;
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 767px) {

    .nav-border-bottom{
        img{
            max-width: 100%;
            height: auto;
        }
        .nav-image-wrapper{
            padding-right: 0;
        }
        a{
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 374px) {
    .nav-border-bottom{
        // img{
        //     width: 60%;
        //     height: auto;
        // }
        a{
            font-size: 14px;
        }
    }
}