@import "../../../../asset/css/variables";

// // // styling for promo item // // //
.promo-item {
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid black;
    min-width: 50%;
    height: auto;
    margin: 20px 0px;
    padding-bottom: 15px;

    &:hover {
        box-shadow: 4px 4px 1px rgba(40, 124, 161, 0.2)
    }

    .col-promo-item-img {
        flex: 50%;
        // text-align: center;
        max-width: 250px;

        .promo-item-img {
            height: 200px;
            width: 100%;
        }
    }

    .col-promo-item-detail {
        flex: 50%;
    }
}


// // // styling for promo list // // //
.promo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


// // // styling for navigation on promo page
.card-promo {
    .card-promo-nav {
        padding: 48px;

        .card-promo-nav-icon {
            .card-promo-nav-icon-item {
                img {
                    height: 85px;
                }

                color: black;
                text-decoration: none;
                &:hover{
                    color: $primaryColor;
                }
            }

            .card-promo-nav-icon-item:hover::after {
                content: '';
                display: block;
                border-bottom: 3px solid $primaryColor;
                width: 30%;
                margin: auto;
                margin-bottom: -3px;
            }

            .card-promo-nav-active {
                color: $primaryColor;
            }
        }
    }
}

.promo-item-hover{
    cursor: pointer;
}
.promo-item-hover:hover{
    box-shadow: 1px 0px 9px 5px rgba(0,0,0,0.11);
-webkit-box-shadow: 1px 0px 9px 5px rgba(0,0,0,0.11);
-moz-box-shadow: 1px 0px 9px 5px rgba(0,0,0,0.11);
}


// styling horizontal line
.card-promo-bottom-line {
    width: 100%;
    height: 5px !important;

}


// // // styling for responsive // // //
@media (min-width: 1200px) {
    .promo-item {
        display: flex;
        justify-content: center;
        margin: 40px 0px;
        
        .col-promo-item-img {
            max-width: 310px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .promo-item {
        margin: 40px 0px;

        &:hover {
            box-shadow: 0px 5px 0px rgba(40, 124, 161, 0.2)
        }

        .col-promo-item-detail {
            padding-left: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
// styling promo title
    .card-promo-title-header {
        font-size: 25px;
        font-weight: 600;
    }

    .card-promo-title-subheader {
        font-size: 15px;
        font-weight: 400;
    }

// styling for promo nav
    .card-promo-nav {
        padding: 30px 0px 30px 90px !important;
        width: 90%;

        .card-promo-nav-icon {
            .card-promo-nav-icon-item {
                img {
                    height: 75px !important;
                }

                .card-promo-nav-icon-item-title {
                    font-size: 17px;
                }
                
                width: 100%;
                padding: 10px 0px !important;
            }

            .card-promo-nav-active {
                color: black !important;
                background-color: #A0D5ED;
                border-radius: 10px;
            }
        }
    }

    .promo-item {
        margin: 40px 0px;
        .col-promo-item-img {
            margin-right: 60px;
        }
    }

    .promo-list {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {
// styling promo title
    .card-promo-title-header {
        font-size: 16px;
        font-weight: 600;
    }

    .card-promo-title-subheader {
        font-size: 13px;
        font-weight: 400;
    }

// styling for promo nav
    .card-promo-nav {
        padding: 30px !important;

        .card-promo-nav-icon {
            .card-promo-nav-icon-item {
                img {
                    height: 70px !important;
                }

                .card-promo-nav-icon-item-title {
                    font-size: 14px;
                }

                width: 100%;
                padding: 10px 0px !important;
            }

            .card-promo-nav-active {
                color: black !important;
                background-color: #A0D5ED;
                border-radius: 10px;
            }
        }
    }

    .promo-item {
        display: flex;
        justify-content: center;

        .col-promo-item-img {
            margin-bottom: 25px;
        }

        .col-promo-item-detail {
            min-width: 250px;
        }
    }
}