@import "../../../../asset/css/variables";

.modal-dialog {
    .modal-content {
        border: 0px;
        
        .modal-header {
            position: relative;
            display: block;
            .modal-title {
                .promo-img-modal {
                    width: 100%;
                    height: auto;
                }
                // img {
                //     width: 100%;
                //     height: auto;
                // }
            }
            .btn-close {
                position: absolute;
                top: 6%;
                left: 93%;
            }
        }
        .modal-body {
            h1 {
                font-size: 50px;
            }
        }
        .modal-footer {
            background-color: $primaryColor;
            padding: 80px 12px;
            display: block;
            text-align: center;

            .modal-footer-title {
                color: white;
                padding: 0px 100px;
            }
            
            .modal-footer-nav-btn {
                border: 1px solid $secondaryColor;
                border-radius: 10px;
                color: white;
                background-color: $secondaryColor;
                text-decoration: none;
            }
        }
    }
}

// styling for responsive
@media (max-width: 767px) {
    .modal-dialog {
        margin: 80px 30px !important;
        .modal-content {
            .modal-header {
                position: relative;
                display: block;

                .modal-title {
                    .promo-img-modal {
                        width: 100%;
                        height: auto;
                    }

                    // img {
                    //     width: 100%;
                    //     height: auto;
                    // }
                }

                .btn-close {
                    position: absolute;
                    top: 6%;
                    left: 85%;
                }
            }

            .modal-body {
                padding: 50px 30px 30px 30px !important;
                
                    h1 {
                        font-size: 30px;
                    }

                    h4, .promo-detail-header {
                        font-size: 18px;
                    }

                    .promo-desc {
                        color: #666666;
                        margin-top: 8px !important;
                        font-size: 20px;
                    }

                    ul, ol {
                        font-size: 13px;
                        color: #666666;
                        padding-right: 0px !important;
                    }

                    .promo-valid-period {
                        color: #666666;
                        font-size: 11px;
                        padding: 0px !important;
                    }
            }
            .modal-footer {
                padding: 40px 12px;
                display: block;
                text-align: center;

                .modal-footer-title {
                    color: white;
                    padding: 0px;
                    font-size: 20px;
                    line-height: 24px;
                    margin-left: 30px;
                    margin-right: 30px;
                }

                .modal-footer-subtitle {
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 30px !important;
                }

                .modal-footer-nav-btn {
                    border: 1px solid $secondaryColor;
                    border-radius: 10px;
                    color: white;
                    background-color: $secondaryColor;
                    text-decoration: none;
                    padding: 8px 25px !important;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .modal-dialog {
        .modal-content {
            .modal-header {
                position: relative;
                display: block;
                
                .modal-title {
                    .promo-img-modal {
                        width: 100%;
                        height: auto;
                    }
                }

                .btn-close {
                    position: absolute;
                    top: 4%;
                    left: 90%;
                }
            }

            .modal-footer {
                padding: 50px 12px;
                display: block;
                text-align: center;

                .modal-footer-title {
                    color: white;
                    padding: 0px;
                }

                .modal-footer-nav-btn {
                    border: 1px solid $secondaryColor;
                    border-radius: 10px;
                    color: white;
                    background-color: $secondaryColor;
                    text-decoration: none;
                    padding: 10px 15px !important;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .modal-footer-title {
        max-width: 400px;
        padding: 0px !important;
        margin-left: 175px !important;
    }
}