@import "../../../../asset/css/variables";

.search {
    width: 100%;

    .search-bar {
        width: 461px;
        height: 61px;
        border: 1px solid #454649;
        border-radius: 15px;
        padding: 10px 15px;

        input.search-bar-input,
        textarea.search-bar-input {
            font-size: 20px;
            height: 35px;
            width: 100%;
            margin-left: 10px;
            border-left: 1px solid #454649;
            border-right: 0px;
            border-top: 0px;
            border-bottom: 0px;
            padding-left: 10px;

            &:focus {
                outline: none;
            }
        }
    }
}


// styling for responsive 
@media (max-width: 767px) {
    .search-bar {
        width: 100% !important;
        height: 40px !important;
        border-radius: 25px !important;

        .search-bar-icon {
            width: 20px;
        }

        input.search-bar-input,
        textarea.search-bar-input {
            font-size: 15px !important;
            height: 20px !important;
            width: 100% !important;
        }
    }

}
