@import "../../../../asset/css/variables";

.content{
    h1{
        letter-spacing: 0px;
    }
}

.card-content-bgcolor-lightblue{
    background-color: rgba(217, 239, 248, 1);
    color :rgb(0, 0, 0);
    border-radius: 10px;
}

//responsive

@media (max-width: 1199.98px) {
    .content{
        .feature-image-top {
            max-width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .feature-title-text{
        font-size: 26px;
        letter-spacing: 0px;
    }
    .feature-text-align{
        text-align: left !important;
    }
    .feature-image-top {
        display: none;
    }

    .feature-image-content {
        size: 60%;
    }

    .topcard-image {
        justify-content: none !important;
    }

    .feature-text {
        padding-top: 0!important;
        margin-top: 0!important;
        padding-bottom: 0!important;
    }

    .feature-title {
        text-align: center;
        font-size: 6vmax;
    }

    .feature-content {
        text-align: center;
        font-size: 12px;
    }
}    

