@import "../../../../asset/css/variables";

.footer {
    background-color: $primaryColor;
    padding-top: 40px;
    padding-bottom: 35px;
    

    .google {
        margin-top: -40px;
        margin-left: -10px;
    }
    
    .col-lg:nth-child(1) {
        flex: 0 0 25%;
    }
    .col-lg:nth-child(3) {
        flex: 0 0 10%;
    }
    .col-lg:nth-child(4) {
        flex: 0 0 10%;
    }
    .col-lg:nth-child(6) {
        flex: 0 0 20%;
    }

    .text-footer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        position: relative;
        
        .download-text {
            color: white;
            font-size: 20px;
        }
        .download-text:hover {
            color: rgba(0, 0, 0, 0.500)
        }

        .logo-jalin {
            margin-top: -20px;
            margin-left: 0.5rem;
            right: -90%;
            bottom: 0%;
        }
    }

    .text-link-footer {
        color: white;
        font-size: 20px;
        display: inline;
        vertical-align: top;
        font-weight: 700;
    }
    .text-link-footer:hover {
        color: rgba(0, 0, 0, 0.500)
    }
    .copyright-text {
        color: white;
        font-size: 15px;
        margin: 0;
    }

    .social-icon{
        margin-top: 15px;
        margin-right: -15px;
        .icon-footer {
            display: inline;
            padding-right: 20px;
            .sosmed_icon {
                color:white;
            }
            .sosmed_icon:hover {
                color:rgba(0, 0, 0, 0.603)
            }
        }
    }
    .ojk-logo {
        vertical-align: bottom;
        margin-bottom: -10px;
        margin-right: 8px;
    }
}

//responsive mobile

@media (max-width: 362.76px) {
    .footer {

        .text-link-footer {
            font-size: 16px;
        }

        .ojk-copyright-container{
            .ojk-logo-container{
                .ojk-logo{
                    width: 120px;
                    margin-top: 10%;
                    margin-right: -5px;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {

    .footer {
        padding-top: 50px;

        .col-lg:nth-child(1) {
            flex: 0 0 100%;
        }

        .col-lg:nth-child(6) {
            flex: 0 0 100%;
        }

        .footer-link {
            text-align: left !important;

            .social-icon {
                position: absolute;
                top: -80%;
                right: 7%;

                .icon-footer {
                    padding-right: 5px;
                }
            }
            
            .footer-download {
                padding-bottom: 30px;
                position: relative;

                .google {
                    position: absolute;
                    right: 0%;
                    top: -5%;

                    .img-google {
                        width: 150px;
                    }
                }

                .text-footer {
                    display: block;
                    position: unset;
    
                    .text-download {
                        position: absolute;
                        right: 2%;
                        top: -30%;
                    }

                    .download-text {
                        font-size: 13px;
                    }
                }
            }   
        }

        .ojk-copyright-container {
            position: relative;
            .ojk-logo {
                width: 150px;
                position: absolute;
                top: -60%;
                right: -5%;
            }
    
            .copyright {
                margin-top: 45px;
                text-align: center;
            }
        }
    }
}

// responsive tablet
@media (max-width: 991.98px){

    .footer {
        .social-icon {
            margin-left: -30px;
            .icon-footer {
                padding-right: 2px;
            }
        }

        .ojk-copyright-container {
            display: inline-flex;

            .ojk-logo-container {
                margin-top: 10px;
            }

            .copyright {
                .copyright-text {
                    font-size: 14px;
                }
            }
        }
    }
}

// responsive dekstop
@media (max-width: 1199.98px) {
    .footer{
        .social-icon{
            margin-top: 15px;
            margin-left: -20px;
            .icon-footer {
                display: inline;
                padding-right: 5px;
            }
        }
        .text-link-footer{
            font-size: 18px;
        }
    }
    
}
